main{
    background-color:lightcyan;
    padding-top:0;
}
h1{
    font-size:2vw;
    text-align:center;
}
.section{
    background-color: #e0f7fa;
    margin-left: 30rem; 
    margin-right: 30rem; 
    margin-bottom: 20rem; 
    border-radius: 10rem; 
}
h2{
    font-size:1.5vw;
    text-align:center;
}
form{
    max-width:50vw;
    margin: 30rem auto;
    border-radius: 10rem;
}
h3{
    font-size:1.25vw;
}
.nome input[type="text"]{
    border:2rem solid black;
    border-radius:5rem;
    width:36vw;
    height:2.2vh;
}
label{
    font-size:1.25vw;
    font-weight:bold;
}
input[type="number"]{
    border-radius:5rem;
    border:2rem solid black;
    max-width:1.875vw;
}
select{
    font-size:1vw;
    border:2rem solid black;
    border-radius:5rem;
    font-weight:bold;
}
input[type="file"]{
    font-size:1vw;
}
textarea{
    font-size:1vw;
    border:2rem solid black;
    border-radius:5rem;
    max-width:43.75vw;
    max-height:22.2vh;
}
button{
    font-size:1vw;
    font-weight:bold;
    background-color:white;
    color:black;
    border-radius:5rem;
}
